.header{
    padding: 25px;
}
.navbar{
    justify-content: space-between;
    margin: 15px;
}

.navbar-logo{
    font-size: 37px;
}

.search-input{
    width: 60%;
}

.category-btn button{
    padding: 11px;
    margin-left: 10px;
}