.header{
    padding: 25px;
}
.navbar{
    justify-content: space-between;
    margin: 15px;
}

.navbar-logo{
    font-size: 37px;
}

.search-input{
    width: 50%;
}

.category-btn button{
    padding: 11px;
    margin-left: 10px;
}

.btn-cart{
    font-size: 35px;
    border: none;
    background-color: #fff;
    padding: 10px;
}